# make tab autocomplete regardless of filename case
set completion-ignore-case on

# immediately add a trailing slash when autocompleting symlinks to directories
set mark-symlinked-directories on

# do not autocomplete hidden files unless the pattern explicitly begins with a dot
set match-hidden-files off

# show all autocomplete results at once
set page-completions off

# allow UTF-8 input and output
set input-meta on
set output-meta on
set convert-meta off
